@import "src/assets/helpers/customVariables";
.stepper {
  li {
    &:first-child {
      background-color: #000;
    }
  }
}
.product-table {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }
  .cancel-btn {
  }
  .product-img {
    width: 15%;
    @media screen and (max-width: 768px) {
      width: 70%;
    }
    img {
      width: 100%;
    }
  }
  .product-title {
    width: 15%;
    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
    }
    h3 {
      font-size: 1.2em;
    }
  }
  .product-qty {
    width: 23%;
    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
    }
  }
}
.input-group {
  margin: 20px auto;
  width: 50%;
  @media screen and (max-width: 768px) {
    width: 80%;
  }
}
.total-price {
  position: absolute;
  right: 200px;
  width: 15%;
  margin: 20px 0;
  @media screen and (max-width: 768px) {
    right: 0;
    width: 40%;
  }
}
.cart-del {
  background-color: transparent;
  border: none;
  color: #CB4042;
  transition: .3s ease-in-out;

  &:disabled {
    opacity: .5;
  }

  &:hover {
    transform: scale(1.1);
  }
}
.mobile-style {
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 30px;
  }
  .cart-del {
    @media screen and (max-width: 768px) {
      margin-left: 10px;
    }
  }
}
