@import "src/assets/helpers/customVariables";
.stepper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  ul {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 0;
    &:before {
      content: "";
      position: absolute;
      bottom: -30px;
      left: 0;
      width: 100%;
      border-top: 3px solid $customBtnTextColor;
      @media screen and (max-width: 768px) {
        bottom: -10px;
        border-top: 3px solid #000;
      }
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      padding: 0;
      width: 100%;
    }
  }

  li {
    width: 200px;
    background: $customLightGray;
    border-radius: 15px;
    padding: 20px 0;
    font-size: 1em;
    text-align: center;
    line-height: 30px;
    color: white;
    list-style: none;
    margin: 0;
    @media screen and (max-width: 768px) {
      font-size: 1em;
      padding: 1px;
      margin: 10px;
      border-radius: 0;
      width: 80%;
    }
  }
  .arrowIconRight {
    position: relative;
    font-size: 3em;
    top: 10px;
    margin: 0 30px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .arrowIconDown {
    display: none;
    margin: 0 30px;
    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1em;
    }
  }
}
