.nav-container {
  width: 100%;
}
.scroll-menu {
  background: white;
  ul {
    margin: 0 auto;
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      //margin: 0 auto;
      border-bottom: 4px solid #000;
    }
  }
  li {
    margin: 0 20px;
    font-size: 1.1em;
    font-weight: bolder;
    &:hover {
      transform: scale(1.05);
      transition: .3s ease-in-out;
    }
  }
}

.navbar-toggler {
  position: absolute;
  top: -50px;
}
