$customGray:#747474;
$customLightGray:#BAC3CC;
$customGray-Blue:#58B2DC;
$customBackground:#4F4F48;
$customTextColor:#656765;
$customTextColor-white:#fcfaf2;
$customBtnBGColor:#BDC0BA;
$customBtnTextColor:#787D7B;

