@import "src/assets/helpers/customVariables";

.wrap {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}
.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  padding-top: 90px;

  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;
    //padding-bottom: 78px;
  }
  .productItem {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 768px) {
      width: 100%;
      flex-direction: column;
    }

    .product-img {
      border: 1px solid #000;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      margin: 0 auto;

      img {
        width: 100%;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    .product-info {
      display: flex;
      justify-content: center;
      //align-items: center;
      flex-direction: column;
      width: 50%;
      margin: auto;
      @media screen and (max-width: 768px) {
        width: 100%;
        margin: 0 auto;
      }

      h2 {
        text-align: center;
        position: relative;
        //font-size: 1.8em;
        font-size: 3em;
        margin: 30px 0;

        &:after {
          content: '';
          width: 100%;
          border-bottom: 2px solid #000;
          position: absolute;
          bottom: -50px;
          left: 0;
          margin-bottom: 30px;
          @media screen and (max-width: 768px) {
            border-bottom: 2px solid #000;
          }
        }
      }

      p {
        //font-size: 1.2em;
        font-size: 1.5em;
      }

      h3 {
        //font-size: 1.5em;
      }

      h4 {
        //font-size: 1.5em;
      }

      &__btn-place {
        display: flex;
        margin: 20px 0 57px 0;
        justify-content: center;
        align-items: center;

        .btn {
          margin: 0 1.5em;
          @media screen and (max-width: 768px) {
          }
        }
      }
    }
  }
}
